<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema">
  <display-name>College</display-name>
  <welcome-file-list>
    <welcome-file>/include-student.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/not-found.html</location>
  </error-page>
  <error-page>
    <location>/default-error.html</location>
  </error-page>
</web-app>
